# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @mehjoshi @madhavemuri @nikitadanilov @yeshpal-jain-seagate @huanghua78 @andriytk @siningwuseagate @vidyadhar-pinglikar @shashank-parulekar @nkommuri @sg-shankar @ivan-alekhin @sergey-shilov @rkothiya
