<h1 align=center>Performance Report &#128293;</h1>
{% include 'navigation.html' %} <br><br><br>
<table width="30%" align=center cellpadding="5" border="1">
    <tr>
        <th></th>
        <th>Started at</th>
        <th>Finished at</th>
    </tr> 
    <tr>
        <th>Test execution</th>
        <th>{{test_start_time}}</th>
        <th>{{test_stop_time}}</th>
    </tr>
    <tr>
        <th>Workload execution</th>
        <th>{{workload_start_time}}</th>
        <th>{{workload_stop_time}}</th>
    </tr>
</table>
