server_node:
  cbebb1cc492b719e95fd9b2b6059b719:
    network:
      data:
        interface_type: tcp
        private_interfaces:
        - eth1
        transport_type: lnet
cluster:
  5c427765-ecf5-4387-bfa4-d6d53494b159:
    storage_set:
    - durability:
        data: '4'
        parity: '2'
        spare: '0'
