[Unit]
Description=Perfline web-interface service

[Service]
Type=simple
PIDFile=/var/run/pl_web.pid
WorkingDirectory=<PERFLINE_WEB_DIR>
User=root
Group=root

ExecStart=<PERFLINE_WEB_DIR>/pl-web-ctl start
ExecStop=<PERFLINE_WEB_DIR>/pl-web-ctl stop
ExecReload=/usr/bin/echo "not implemented"
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target