#
# Copyright (c) 2020 Seagate Technology LLC and/or its Affiliates
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# For any questions about this software or licensing,
# please email opensource@seagate.com or cortx-questions@seagate.com.
#

[Unit]
Description=Motr kernel module
Requires=lnet.service
Wants=motr-trace@kernel.service
After=lnet.service
Before=motr-trace@kernel.service motr-server@.service m0d@.service motr-server-confd.service motr-server-ha.service motr-client.service
PartOf=motr-server@.service m0d@.service motr-mkfs@.service motr-server-confd.service motr-server-ha.service motr-client.service m0t1fs@.service

[Service]
Type=oneshot
# Re-configure lnet to bring up '--all' interfaces.
# It works somehow on CentOS-7 even without this, but on CentOS-8
# the --all flag is needed. Otherwise, lnet.service doesn't initialize
# any networks, as it is mentioned in the lnetctl manual.
ExecStart=/bin/bash -c '[[ `/usr/sbin/lctl list_nids` ]] || /usr/sbin/lnetctl lnet unconfigure'
ExecStart=/usr/sbin/lnetctl lnet configure --all
ExecStart=/usr/libexec/cortx-motr/motr-kernel start
ExecStop=/usr/libexec/cortx-motr/motr-kernel stop
RemainAfterExit=yes
KillMode=none
TimeoutStopSec=1min
